<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Corretores - Contrato Aluguel</title>
    </head>
    <body>
        <h1>Contrato Aluguel</h1>
        <hr>
        <a href="{{url_for("novoAluguel", corretorId = corretorId)}}">Novo Aluguel</a>
        <br>                        
        <a href="{{url_for("listaAlugueisCorretores", corretorId = corretorId)}}">Lista de Aluguéis</a>                           
        <br>                
        <a href="{{url_for("index")}}">voltar</a>
    </body>
</html>