<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Imóveis - Endereço</title>
    </head>
    <body>
        <h1>Endereço Imóvel</h1>
        <hr>
        <table border>
            <tr>
                <td>ID</td>
                <td>Rua</td>            
                <td>Numero</td>
                <td>Complemento</td>                
                <td>Bairro</td>                       
                <td>Cidade</td>                       
                <td>CEP</td>                                       
            </tr>
            <tr>
                <td>{{endereco.id}}</td>
                <td>{{endereco.rua}}</td>            
                <td>{{endereco.numero}}</td>
                <td>{{endereco.complemento}}</td>
                <td>{{endereco.bairro}}</td>
                <td>{{endereco.cidade}}</td>
                <td>{{endereco.cep}}</td>                                                
            </tr>
        </table><br>                
        <a href="{{url_for("listaAluguelImoveis", idRandom = idRandom)}}">Voltar</a>
        <br>
        <a href="{{url_for("index")}}">Home</a>
    </body>
