<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">        
        <title>Corretora API - Telefones - Atualizar Telefone</title>
    </head>
    <body>
        <h1>Atualizar Telefone</h1> 
        <hr>
        <form action = "" = method="POST">
            <table>
                <tr>
                    <label for = "ddd">DDD</label><br>
                    <input type = "text" name = "ddd" placeholder = "DDD" value={{telefone.ddd}}><br>
                    <label for = "numero">Numero</label><br>
                    <input type = "text" name = "numero" placeholder = "Número" value={{telefone.numero}}><br>
                    <label for = "numero">Contato</label><br>
                    <input type = "text" name = "contato" placeholder = "Contato" value={{telefone.contato}}><br>
                </tr>
            </table><br>
            <input type = "submit" value = "Atualizar">
        </form>            
        <br>
        <br>
        <a href="{{url_for("index")}}">Home</a>        
    </body>
</html>