!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">        
        <title>Corretora API - Corretores - Atualizar Corretor</title>
    </head>
    <body>
        <h1>Atualizar Corretor</h1> 
        <hr>
        <form action = "" = method="POST">
            <table>
                <tr>
                    <label for = "nome">Nome</label><br>
                    <input type = "text" name = "nome" placeholder = "Nome" value={{corretor.nome}}><br>
                    <label for = "email">E-mail</label><br>
                    <input type = "text" name = "email" placeholder = "E-mail" value={{corretor.email}}><br>                                                            
                </tr>
            </table><br>
            <input type = "submit" value = "Atualizar">
        </form>
        <br>
        <a href="{{url_for("listaCorretores")}}">Voltar</a>
        <br>
        <br>
        <a href="{{url_for("index")}}">Home</a>        
    </body>
</html>