<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">        
        <title>Corretora API - Aluguel - Dados do Aluguel</title>
    </head>
    <body>
        <h1>Contrato Aluguel</h1> 
        <hr>
        <form action = "{{url_for('cadastrarAluguel', idRandom = idRandom)}}" = method="POST">                        
            <table>
                <tr>
                    <label for = "duracao_meses">Período em Meses</label><br>
                    <input type = "text" name = "duracao_meses" placeholder = "Apenas Números" /><br>                                        
                </tr>
            </table><br>
            <input type = "submit" value = "Cadastrar">
        </form>
        <br>        
        <br>
        <br>
        
        
    </body>
</html>