<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">        
        <title>Corretora API - Telefones - Novo Telefone</title>
    </head>
    <body>
        <h1>Cadastrar Telefone</h1> 
        <hr>
        <form action = "{{url_for("cadastrarTelefones", pessoaId = pessoaId) }}" = method="POST">                                    
            <table>
                <tr>       
                    <label for = "ddd">DDD</label><br>
                    <input type = "text" name = "ddd" placeholder = "DDD" /><br>
                    <label for = "numero">Telefone</label><br>
                    <input type = "text" name = "numero" placeholder = "Telefone" /><br>
                    <label for = "Contato">contato</label><br>
                    <input type = "text" name = "contato" placeholder = "Contato" />                    
                </tr>
            </table><br>
            <input type = "submit" value = "Cadastrar">
        </form>
        <br>                
        <br>
        <a href="{{url_for("index")}}">Home</a>
        
    </body>
</html>