<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Corretores</title>
    </head>
    <body>
        <h1>Corretores</h1>
        <hr>
        <a href="{{url_for("cadastroCorretores")}}">Novo Corretor</a>
        <tr>        
            <br>
            <a href="{{url_for("listaCorretores")}}">Listar Corretores</a>
            <br>    
        <br>
        <br>                
        <a href="{{url_for("index")}}">voltar</a>
    </body>
</html>