<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Imóveis - Endereço</title>
    </head>
    <body>
        <h1>Inquilino</h1>
        <table border>
            <tr>
                <td>ID</td>
                <td>Nome</td>            
                <td>CPF</td>
                <td>E-mail</td>                                
            </tr>            
            <tr>
                <td>{{inquilino.id}}</td>
                <td>{{inquilino.nome}}</td>
                <td>{{inquilino.cpf}}</td>
                <td>{{inquilino.email}}</td>                                
            </tr>            
        </table><br>        

        <h1>Imóvel</h1>
        <hr>
        <table border>
            <tr>
                <td>ID</td>
                <td>Metros²</td>            
                <td>Preço</td>
                <td>Tipo</td>                                                                                
            </tr>            
            <tr>
                <td>{{imovel.id}}</td>
                <td>{{imovel.area}}</td>            
                <td>{{imovel.preco}}</td>
                <td>{{imovel.tipo}}</td>                
            </tr>            
        </table><br>
        
        <h1>Endereço</h1>
        <hr>
        <table border>
            <tr>
                <td>ID</td>
                <td>Rua</td>            
                <td>Numero</td>
                <td>Complemento</td>                
                <td>Bairro</td>                       
                <td>Cidade</td>                       
                <td>CEP</td>                                       
            </tr>
            <tr>
                <td>{{imovel.id}}</td>
                <td>{{imovel.rua}}</td>            
                <td>{{imovel.numero}}</td>
                <td>{{imovel.complemento}}</td>
                <td>{{imovel.bairro}}</td>
                <td>{{imovel.cidade}}</td>
                <td>{{imovel.cep}}</td>                                                
            </tr>
        </table><br>                
        <a href="{{url_for("listaAlugueis")}}">Voltar</a>
        <br>
        <a href="{{url_for("index")}}">Home</a>
    </body>
