<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">        
        <title>Corretora API - Imóveis</title>
    </head>
    <body>
        <h1>Imóveis</h1>
        <hr>
        <a href="{{url_for("listaImoveis")}}">Imóveis</a>
        <br>                        
        <a href="{{url_for("listaImoveisAlugados")}}">Imóveis Alugados</a>
        <br>                            
        <a href="{{url_for("listaImoveisDisponiveis")}}">Imóveis Disponíveis</a>
        <br>
        <br>                
        <a href="{{url_for("index")}}">voltar</a>
    </body>
</html>