<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">        
        <title>Corretora API</title>
    </head>
    <body>
        <h1>Corretora - API</h1>
        <hr>
        <a href="{{url_for("proprietarios")}}">Porprietários</a>
        <br>                        
        <a href="{{url_for("inquilinos")}}">Inquilinos</a>
        <br>                        
        <a href="{{url_for("corretores")}}">Corretores</a>
        <br>                        
        <a href="{{url_for("imoveis")}}">Imóveis</a>
        <br>                        
        <a href="{{url_for("listaAlugueis")}}">Aluguéis</a>
    </body>
</html>