<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Inquilinos</title>
    </head>
    <body>
        <h1>Inquilinos</h1>
        <hr>
        <a href="{{url_for("cadastroInquilinos")}}">Novo Inquilino</a>
        <tr>        
            <br>
            <a href="{{url_for("listaInquilinos")}}">Listar Inquilinos</a>
            <br>    
        <br>
        <br>                
        <a href="{{url_for("index")}}">voltar</a>
    </body>
</html>