<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Proprietários - Lista de Proprietários</title>
    </head>
    <body>
        <h1>Lista de Proprietários</h1>
        <hr>
        <table border>
            <tr>
                <td>ID</td>
                <td>Nome</td>            
                <td>CPF</td>
                <td>E-mail</td>                
                <td>Excluir</td>       
                <td>Atualizar</td>
                <td>Imóveis</td>
                <td>Telefone</td>
            </tr>
            {% for proprietario in proprietarios%}
            <tr>
                <td>{{proprietario.id}}</td>
                <td>{{proprietario.nome}}</td>            
                <td>{{proprietario.cpf}}</td>
                <td>{{proprietario.email}}</td>
                <td><a href="/proprietarios/deletar/{{proprietario.id}}">X</a></td>
                <td><a href="/proprietarios/atualizar/{{proprietario.id}}">Atualizar</a></td>
                <td><a href="/proprietario/{{proprietario.id}}/imoveis">+</a></td>
                <td><a href="/proprietario/{{proprietario.id}}/telefones">Lista</a></td>
            </tr>
            {% endfor %}
        </table><br>
        <a href="{{url_for("proprietarios")}}">Voltar</a>
        <br>
        <br>
        <a href="{{url_for("index")}}">Home</a>
    </body>
