<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Aluguel - Lista de Imóveis</title>
    </head>
    <body>
        <h1>Lista de Imóveis Para Aluguel</h1>
        <hr>
        <table border>
            <tr>
                <td>ID</td>
                <td>Metros²</td>            
                <td>Preço</td>
                <td>Tipo</td>                                                                                
                <td>Endereco</td>                                                                                
            </tr>
            {% for imovel in imoveis%}
            <tr>
                <td><a href="/aluguel/{{idRandom}}/selecionarimovel/{{imovel.id}}">{{imovel.id}}</a></td>
                <td>{{imovel.area}}</td>            
                <td>{{imovel.preco}}</td>
                <td>{{imovel.tipo}}</td>                
                <td><a href="/aluguel/{{idRandom}}/endereco/{{imovel.id}}">Endereço</a></td>
            </tr>
            {% endfor %}
        </table><br>        
        <br>
        <br>
        <a href="{{url_for("index")}}">Home</a>
    </body>
