<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Inquilinos - Lista de Inquilinos</title>
    </head>
    <body>
        <h1>Lista de Inquilinos</h1>
        <hr>
        <table border>
            <tr>
                <td>ID</td>
                <td>Nome</td>            
                <td>CPF</td>
                <td>E-mail</td>                
                <td>Excluir</td>       
                <td>Atualizar</td>
                <td>Telefone</td>                
                
            </tr>
            {% for inquilino in inquilinos%}
            <tr>
                <td>{{inquilino.id}}</td>
                <td>{{inquilino.nome}}</td>
                <td>{{inquilino.cpf}}</td>
                <td>{{inquilino.email}}</td>                
                <td><a href="/inquilinos/deletar/{{inquilino.id}}">X</a></td>
                <td><a href="/inquilinos/atualizar/{{inquilino.id}}">Atualizar</a></td>                
                <td><a href="/inquilino/{{inquilino.id}}/telefones">Lista</a></td>                     
            </tr>
            {% endfor %}    
        </table><br>        
        <a href="{{url_for("inquilinos")}}">Voltar</a>
        <br>
        <br>
        <a href="{{url_for("index")}}">Home</a>
    </body>
