<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Aluguéis</title>
    </head>
    <body>
        </form>
        <h1>Lista de Aluguéis</h1>
        <hr>
        <table border>
            <tr>
                <td>ID</td>                                
                <td>Duração</td>            
                <td>Detalhes</td>                                           
            </tr>
            
            {% for aluguel in alugueis%}       
            <tr>
                <td>{{aluguel.id}}</td>                
                <td>{{aluguel.duracao_meses}}</td>                
                <td><a href="/aluguel/{{aluguel.id}}">Detalhes</a></td>                                
            </tr>            
            {% endfor %}    
            
        </table><br>                                
        <br>
        
        <a href="{{url_for("alugueisCorretores", corretorId = corretorId)}}">Voltar</a>
        <br>
        <a href="{{url_for("index")}}">Home</a>
    </body>
