<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Corretora API - Proprietários</title>
    </head>
    <body>
        <h1>Proprietários</h1>
        <hr>
        <a href="{{url_for("cadastroProprietarios")}}">Novo Porprietário</a>
        <tr>        
            <br>
            <a href="{{url_for("listaProprietarios")}}">Listar Proprietários</a>
            <br>    
        <br>
        <br>                
        <a href="{{url_for("index")}}">voltar</a>
    </body>
</html>